
Library/PackageCache/com.unity.burst@1.6.5/.Runtime/hostmac/lld
Library/ArtifactDB
Library/ArtifactDB
Library/Artifacts/10/10e61eb69a6884a6ccc5f948f3bd3870
UserSettings/Layouts/default-2021.dwlt
*.log
*.dwlt
Library/SourceAssetDB
*.traceevents
*.traceevents
*.db
*.pdb
*.dwlt
